<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klaus Video Player</title>
    <style>
        body { display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; background: #111; }
        .menu { text-align: center; }
        h1 { 
        text-align: left; 
        margin: 20px; 
        }
        a { color: white; display: block; margin: 10px; font-size: 20px; text-decoration: none; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h1 style="color: whitesmoke">Video Player!!!</h1>
    <div class="menu">
        <a href="/video1">Educational</a>
        <a href="/video2">Montage</a>
        <a href="/video3">Animation</a>
    </div>
</body>
</html>
